{% load mptt_tags %}
{% url 'accounts:changeuser' as edit %}   
                    <!-- Modal starts -->              
                  <div class="modal fade" id="userModal-{{user.pk}}" tabindex="-1" role="dialog" aria-labelledby="useModalLabel-{{user.pk}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="useModalLabel-{{user.pk}}">Modifier un utilisateur </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'accounts:changeuser' user.pk %}" method="post"  class="form-sample" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                      <label class="col-3" for="id_email">Email</label>
                                      <div class="col-8">
                                        <input  type="email" name="email"  id="id_email"   class="form-control" value="{{user.email}}">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                         
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label" for="id_picture">Photo</label>
                                      <div class="input-group col-sm-8">
                                          <input type="text" class="form-control file-upload-info"  name="picture"  id="id_picture"  disabled="" placeholder="Upload Image">
                                          <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-primary" type="file">Upload</button>
                                          </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                      <div class="form-group row">
                                        {% comment %} <label class="col-3" for="id_role">Role</label>
                                        <div class="col-8">
                                          <input  type="text" name="role"  id="id_role"   class="form-control" value="{{user.role}}">
                                        </div> {% endcomment %}
                                      </div>
                                    </div> 
                                </div> 
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                      <label class="col-3" for="id_warehouse">Dépot</label>
                                      <div class="col-8">
                                         <select class="form-control"  name="warehouse" id="id_warehouse"> 
                                          <option value="{{user.warehouse.id}}" {% if user.warehouse.id == warehouse.id %}selected{% endif %}>{{user.warehouse}}</option>
                                          {% for warehouse in warehouses %}
                                              <option value="{{warehouse.id}}">{{warehouse.name}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                      <label class="col-3"  for="id_user_permissions_from">User premissions</label>
                                      {% comment %} >>> {{user.get_permissions}} {% endcomment %}
                                      <div class="col-8">
                                         <select class="form-control" multiple  name="user_permissions" id="id_user_permissions_from"> 
                                          {% for permission in user_permissions %}
                                              <option value="{{permission.id}}">{{permission}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                      <label class="col-3"  for="id_user_permissions">Premissions</label>
                                      <div class="col-8">
                                         <select class="form-control" multiple  name="user_permissions_old" id="id_user_permissions"> 
                                          {% for permission in permissions %}
                                              <option value="{{permission.id}}">{{permission}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="form-group row">
                                      <label class="col-3" for="id_notes">note</label>
                                      <div class="col-8">
                                      <textarea class="form-control" id="id_notes" name="notes" cols="40" rows="4" >{{user.notes}} </textarea>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-4">
                                    <div class="form-group row">
                                      <label class="col-4" for="id_actif">Actif</label>
                                      <div class="col-2">
                                        <input type="checkbox" class="form-check-input" {% if user.is_active %} checked="" {% endif %} name="actif" id="id_actif" > 
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="form-group row">
                                      <label class="col-4" for="is_staff">Staff</label>
                                      <div class="col-2">
                                        <input type="checkbox" class="form-check-input" {% if user.is_staff %}checked="" {% endif %} name="staff" id="is_staff" > 
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="form-group row">
                                      <label class="col-4" for="is_manager">Manager</label>
                                      <div class="col-2">
                                        <input type="checkbox" class="form-check-input"  {% if user.is_manager %} checked="" {% endif %} name="manager" id="is_manager" > 
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>

                              <button type="submit" class="btn btn-succes pop-btn m-2">Confirmer</button>
                              </form>
                        </div>
                      </div>
                    </div>
                  </div> 
            <!-- Modal Ends -->
